body {
  background: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
  font-size: 40px;
  margin-bottom: 30px;
}

img {
  margin-bottom: 25px; 
  border-radius: 20px;
}

button {
    margin-right: 20px;
  padding: 15px 30px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

#yesBtn {
  background: red;
  color: white;
}

#noBtn {
  background: white;
  color: black;
  position: absolute;
}
